* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    background-color: #fee;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a {
    color: #000;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding: 30px;
    transition: 0.4s ease;
}

.container {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 80px;
    margin-left: 150px;
    

}

.about h2 {
    color: #000;
}

.about p {
    color: #000;
}

.about ul {
    color: #000;
}

.about img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    margin-top: 20px;
}

.places h2 {
    color: #000;
}

.places p {
    color: #000;
}

.places ul {
    color: #000;
}
ul{
    list-style: disc;
}

.main-btn {
    background-color: #fee;
    color: #000;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    display: inline-block;
    transition: 0.4s ease;
    text-align: center;
}

.main-btn:hover {
    background-color: #000;
    color: #fee;
    transition: 0.4s ease;
}

.footer {
    background-color: #24262b;
    padding: 70px 80px;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: rgb(235, 122, 122);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(225, 225, 225, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
   
}
